<footer>
  <div class="brand">
    <img src="./assets/Logotype.svg" alt="Logo bedrok" />
    <p>Copyright 2022</p>
  </div>
  <div class="links">
    <ul class="categories">
      <h3 class="list-titles">Categories</h3>
      <li><a href="">Entrepreneurship</a></li>
      <li><a href="">Creator</a></li>
      <li><a href="">Tech</a></li>
      <li><a href="">All</a></li>
    </ul>
    <ul class="pages">
      <h3 class="list-titles">Pages</h3>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <ul class="contact">
      <h3 class="list-titles">Contact</h3>
      <li><a href="">Twitter</a></li>
      <li><a href="">Linkedin</a></li>
      <li><a href="">Email me</a></li>
    </ul>
  </div>
</footer>
