*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-toggler{
  border: none;
  outline: none;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar{
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
