<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container-fluid logo-container">
    <a class="navbar-brand" [routerLink]="''">
      <img src="./assets/Logotype.svg" alt="Logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
  </div>
  <div class="container-fluid links-container col-md-auto">
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav text-center">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="''" (click)="isMenuCollapsed = true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/about'"
            (click)="isMenuCollapsed = true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/contact'"
            (click)="isMenuCollapsed = true"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
