*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
}

.navbar-toggler{
  border: none;
  outline: none;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar{
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
