.card{
  width: 100%;
  border-radius: 0.6rem;
  border: 1px solid #E8E8E8;
  overflow: hidden;
}

.card-info{
  padding: 1rem;
}

.category{
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #005929;
  background-color: #E8FFEE;
}

.title{
  font-size: 2.6rem;
  font-weight: 400;
}

.date{
  position: relative;
}

.date span::after{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
}

img{
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}

.card-image{
  width: 100%;
}


@media (min-width: 1281px) {
  .card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .category{
    display: inline-block;
  }

}






